nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

nav a:hover {
    box-sizing: border-box;
    border-bottom: 0.15rem solid white;
}

nav form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    position: relative;
    padding: 0 60px 0 10px;
    background-color: #f8f8f8fa;
    border: 1px solid #333333;
    border-radius: 40px;
}

nav form input {
    font-size: 1rem;
    padding: 5px;
    background-color: #f8f8f8fa;
    border: solid #f7f6f6;
}


/* 
nav form button {
    cursor: pointer;
    border: solid white;
    border-radius: 10px;
    background-color: white;
} */

.searchButton {
    font-size: 1rem;
    color: rgb(78, 78, 78);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-icon:hover {
    font-size: 0.7rem;
    color: rgb(24, 24, 24);
}

.listElement {
    list-style: "none";
    display: "inline-block";
    padding-left: "20px";
}

.anchorDiv {
    text-decoration: none;
    color: #999;
}


/* 
nav form button:hover {
    color: rgb(22, 22, 22);
    background-color: white;
    transition: all 0.3s ease;
} */

nav #btn:hover {
    border-bottom: none;
}

.logo-image {
    color: #000;
    width: 40px;
    height: 40px;
}

@media (max-width: 552px) {
    nav {
        padding: 20px 10px;
    }
    nav form input {
        width: 100px;
        height: max-content;
        font-size: 10px;
    }
    nav form button {
        padding: 4px;
    }
}